.navbar8-container1 {
  top: 0;
  width: 100%;
  height: 134px;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-image1 {
  width: 162px;
  height: 100%;
  align-self: center;
  object-fit: contain;
  align-content: flex-start;
}
.navbar8-navbar-interactive {
  width: 1873px;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.navbar8-image2 {
  width: 220px;
  object-fit: cover;
}
.navbar8-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar8-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar8-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar8-link4-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-container3 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar8-icon1 {
  width: 24px;
  height: 24px;
}
.navbar8-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  animation-name: rotateInDownRight;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar8-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar8-image3 {
  width: 50px;
  object-fit: cover;
}
.navbar8-burger-menu {
  display: none;
}
.navbar8-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar8-image4 {
  width: 50px;
  object-fit: fill;
}
.navbar8-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-container5 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar8-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navbar8-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page1-image {
  width: 30px;
  height: 30px;
}
.navbar8-content1 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page2-image {
  width: 30px;
  height: 30px;
}
.navbar8-content2 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page3-image {
  width: 30px;
  height: 30px;
}
.navbar8-content3 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
.navbar8-page4-image {
  width: 30px;
  height: 30px;
}
.navbar8-content4 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-container6 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-fragment10 {
  display: contents;
}
.navbar8-text12 {
  display: inline-block;
}
.navbar8-fragment11 {
  display: contents;
}
.navbar8-text13 {
  display: inline-block;
}
.navbar8-fragment12 {
  display: contents;
}
.navbar8-text14 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-fragment13 {
  display: contents;
}
.navbar8-text15 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-fragment14 {
  display: contents;
}
.navbar8-text16 {
  display: inline-block;
  font-size: 32px;
}
.navbar8-fragment15 {
  display: contents;
}
.navbar8-text17 {
  display: inline-block;
}
.navbar8-fragment16 {
  display: contents;
}
.navbar8-text18 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-fragment17 {
  display: contents;
}
.navbar8-text19 {
  display: inline-block;
}
.navbar8-fragment18 {
  display: contents;
}
.navbar8-text20 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.navbar8-fragment19 {
  display: contents;
}
.navbar8-text21 {
  display: inline-block;
}
@media(max-width: 1600px) {
  .navbar8-container1 {
    justify-content: space-between;
  }
  .navbar8-image1 {
    width: 158px;
  }
  .navbar8-navbar-interactive {
    width: 100%;
  }
  .navbar8-text16 {
    font-size: 24px;
  }
  .navbar8-text21 {
    font-size: 24px;
  }
}
@media(max-width: 1200px) {
  .navbar8-image1 {
    height: 133px;
  }
  .navbar8-navbar-interactive {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .navbar8-image1 {
    width: 188px;
    height: 135px;
  }
  .navbar8-navbar-interactive {
    width: 100%;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .navbar8-container1 {
    height: auto;
  }
  .navbar8-image1 {
    height: 133px;
  }
  .navbar8-navbar-interactive {
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar8-image2 {
    width: 100PX;
  }
  .navbar8-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar8-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navbar8-link5-menu-list {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar8-container1 {
    height: 58px;
  }
  .navbar8-image1 {
    width: 67px;
    height: 56px;
    align-self: center;
    object-fit: cover;
    padding-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .navbar8-navbar-interactive {
    width: 386px;
    height: 75px;
    align-self: flex-end;
    align-items: flex-end;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .navbar8-image2 {
    width: 97px;
    height: 24px;
  }
  .navbar8-desktop-menu {
    display: none;
  }
  .navbar8-burger-menu {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .navbar8-buttons2 {
    width: 166px;
    height: 75px;
    align-items: flex-end;
    margin-right: 0px;
    justify-content: flex-start;
  }
  .navbar8-image4 {
    width: 20px;
    height: 24px;
    align-self: flex-end;
    margin-top: 0px;
    padding-top: 0px;
  }
  .navbar8-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .navbar8-text21 {
    font-size: 16px;
  }
}
